@model IEnumerable<GalaxyVibesPos.Models.CustomerLedger>
@{
    ViewBag.Title = "CustomerPaymentOrReceive";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<style>
    .lebel {
        width: 129px;
        font-size: 11px;
        font-weight: bold;
        color: #dc7e1b;
    }
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Other Income</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)
                                <fieldset id="SubmitForm">
                                    <input data-val="true" id="ID" name="ID" type="hidden">
                                    <div class="control-group">
                                        <div>
                                            <lebel class="control-label">Select Type</lebel>
                                        </div>
                                        <div class="controls" id="inputMargin" style="margin: 6px 0px 0px 196px">
                                            <label class="span4"><input type="radio" id="Cash" name="radio1" value="Cash" checked style="margin: 0px 4px 7px" />Payment</label>
                                            <label class="span4"><input type="radio" id="Due" name="radio1" value="Due" style="margin: 0px 4px 7px" />Receive</label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <lebel class="control-label">Customer Name</lebel>
                                        <div class="controls" id="inputMargin">

                                            @*@Html.DropDownList("ExpenseType", ViewBag.ExpenseType as List<SelectListItem>)*@

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Previous Due</label>
                                        <div class="controls">
                                            <input type="text" class="span11" id="Description" name="Description" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" id="invoice">Payment type</label>
                                        <div class="controls">

                                            @*@Html.DropDownList("ExpenseType", ViewBag.ExpenseType as List<SelectListItem>)*@

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Bank Name</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Cheque No.</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Cheque Date</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Amount</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Remarks</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-control">
                                        <button type="button" id="addBtn" class="btn btn-success" style="margin:15px">Add</button>
                                        <button type="button" id="updateBtn" class="btn btn-success" style="margin:15px">Update</button>
                                    </div>
                                </fieldset>

                            </div>
                        }
                    </div>

                </div>

            </div>
            <div class="span7">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Income List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped" id="myTable">

                            <thead>
                                <tr>
                                    <td style="font-size:medium">ID</td>
                                    <td style="font-size:medium">Date</td>
                                    <td style="font-size:medium">Description</td>
                                    <td style="font-size:medium">Remarks</td>
                                    <td style="font-size:medium">Amount</td>
                                    <td></td>
                                </tr>
                            </thead>
                            @if (ViewBag.ExpenseList != null)
                            {
                                <tbody>
                                    @foreach (var item in ViewBag.ExpenseList)
                                    {

                                        <tr class="odd gradeX">
                                            <td>

                                                @item.ID

                                            </td>
                                            <td>

                                                @item.Date

                                            </td>
                                            <td>

                                                @item.Description

                                            </td>
                                            <td>

                                                @item.Remarks

                                            </td>
                                            <td>

                                                @item.Amount

                                            </td>
                                            <td>
                                                <button type="button" id="EditCustomer" class="btn" onclick="EditExpense(@item.ID,this)">Edit</button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
