@model IEnumerable<GalaxyVibesPos.Models.Cell>

@{
    ViewBag.Title = "CellIndex";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <p>
                @Html.ActionLink("Create New", "AddWireHouse", null, new { @style = "color:red;" })
            </p>

            <div class="widget-box span10">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Data table</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th style="font-size:small;color:green">Warehouse</th>
                                <th style="font-size:small;color:green">Rack</th>
                                <th style="font-size:small;color:green">Cell</th>
                                <th style="font-size:small;color:red;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rack.RackName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CellName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "CellEdit", new { id = item.CellID }) |                                     
                                        @Html.ActionLink("Delete", "CellIndex", new { id = item.CellID })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (ViewBag.Msg != null)
                    {
                        <div class="alert alert-error alert-block">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            <h4 class="alert-heading">সতর্কতা বার্তা !</h4>
                            <h5>@ViewBag.Msg;</h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
