@model GalaxyVibesPos.Models.CategoryMain

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <hr />
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Personal-info</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @Html.AntiForgeryToken()
                        <form class="form-horizontal">

                            <fieldset id="mainCategorySubmitForm">
                                <div class="control-group">
                                    <br />
                                    @Html.HiddenFor(model => model.MainCategoryID)
                                    <label class="control-label">Add Main Category:</label>
                                    <div class="controls">
                                        @Html.EditorFor(model => model.MaincategoryName)
                                    </div>
                                </div>
                                <br />
                                @*<div class="form-control">
                                        <input type="submit" value="Save" class="btn btn-success" style="margin:15px"/>                                 
                                </div>*@
                                <div class="form-control">
                                    <button type="button" id="MainCategoryBtn" class="btn btn-success" style="margin:15px">Save</button>
                                </div>
                            </fieldset>
                        </form>
                        <div>
                            @Html.ActionLink("Back to List", "MainCategoryIndex")
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

@*.........Save Main Category........*@
<script>
    $("#MainCategoryBtn").click(function () {
        var data = $("#mainCategorySubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/ItemSatting/SaveMainCategoryInDatabase",
            data: data,
            success: function (result) {
                alert(result);
                window.location.href = "/ItemSatting/MainCategoryIndex";


            }
        })
    })
</script>

}
